.container {
    width: 100%;
    max-width: 84px; /*максимальная ширина может иметь другое значение*/
    padding: 0 15px;
    margin: 0 auto;
  }

.jumbotron {
  background: url("img/image.png");
  background-size: cover;
  height: 3em;
}

.centralize {
  width: 80%;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 184px;
  float: left;
}

.my__header {
  background: #007765;
  position: fixed;
  height: 84px;
  top: 0px;
  right: 0px;
  left: 0px;
}

.header__block {
  
  display: flex;
  color: white;
  font-weight: 500;
  font-size: 24px;
}

.header__link {
    display: inline-block;
    
}
